* {
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

body {
    color: #637f83;
    font-family: 'Source Sans Pro', serif;
    font-weight: 400;
    font-size: 14px;
}

.main-container {
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    position: relative;
}

.logo-container {
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
}

.logo {
    display: table;
    height: 100%;
}

.logo-link {
    font-weight: 900;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #637f83;
}

.menu-container {
    float: right;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.menu-item {
    float: left;
    margin: 0 10px;
}

.menu-link {
    display: block;
    padding: 32px 0;
    font-size: 16px;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 700;
    color: #637f83;
}

.menu-link:hover {
    color: #e4551d;
}

.active{
    display: inline-block;
    position: relative;
    color: #e4551d;
}

.active:after, .active:before {
    top: 22px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.active:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 3px;
    margin-left: -3px;
}

.active:before {
    border-color: rgba(99, 127, 131, 0);
    border-top-color: #637f83;
    border-width: 4px;
    margin-left: -4px;

}

.banner {
    display: table;
    background: url("../images/banner.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 520px;
}

.banner-text-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.banner-title-link {
    border-bottom: 2px solid white;
    font-family: 'PT Sans', serif;
    font-size: 40px;
    line-height: 52px;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}

.banner-title {
    margin: 0 auto;
    width: 535px;
}

.banner-description-container {
    width: 250px;
    margin: 15px auto;
}

.banner-description {
    color: white;
    font-family: 'Lato', serif;
    font-size: 16px;
    line-height: 26px;
    font-variant: small-caps;
    letter-spacing: 3px;
}

.scroll-bottom-container {
    margin-top: 30px;
}

.scroll-bottom {
    display: block;
    margin: 0 auto;
    padding: auto;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background: #e4551d;
    color: white;
    font-size: 32px;
    line-height: 69px;
}

.page-section-title {
    margin-top: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 38px;
}
.page-section-text {
    text-align: center;
    font-size: 22px;
    margin: 5px 0 50px;
}

.cards-container {
    background: #f6f6f6;
}

.card-item {
    float: left;
    width: 25%;
    padding: 60px 40px;
}

.card-item {
    display: table;
    border-right: 2px solid #d5d5d5;
}

.cards .card-item:last-child {
    border-right: none;
}

.card {
    display: table-row;
    height: 100%;
}

.card-button-container {
    display: table-row;
}

.card-image {
    font-size: 68px;
    color: #e4551d;
    text-align: center;
}

.card-title-container {
   margin: 40px 0;
}

.card-content {
    padding-bottom: 25px;
}

.card-title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.card-text {
    text-align: center;
    line-height: 20px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}

.common-button {
    background: #637f83;
}

.active-button {
    background: #e4551d;
}

.card-button-container {
    text-align: center;
}

.slider {
    position: relative;
    border-top: 2px solid #d5d5d5;
    border-bottom: 2px solid #d5d5d5;
    padding: 50px 0 60px 0;
}

.slider-navigation {
    display: inline-block;
    position: absolute;
    left: calc(50% - 55px);
    top: -17px;
    background: white;
    padding: 0 20px;
}

.slider-navigation-link {
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e4551d;
    line-height: 30px;
    font-size: 22px;
    color: white;
    text-align: center;
}

.slide-button-container {
    margin-top: 40px;
    text-align: center;
}

.user-info {
    padding: 45px 0;
}

.user-info-item {
    float: left;
    width: 50%;
    margin: 15px 0;
}

.user-avatar {
    float: left;
    border-radius: 4px;
    width: 100px;
    height: 100px;
}

.user-info-name {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 700;
}

.user-info-description {
    line-height: 26px;
}

.user-info-content {
    margin-left: 130px;
}

.user-description-more-link {
    color: #e4551d;
    text-decoration: none;
}

.user-description-more-link:before {
    content: " + ";
}

.user-info-item:nth-child(odd){
    padding-right: 20px;
}

.contact-block {
    color: white;
    background: #637f83;
    overflow: hidden;
}

.page-section-white {
    color: white;
}

.contact-block-form {
    padding: 0px 25px 0px 0;
    width: 50%;
    display: table-cell;
}

.contact-block-body {
    display: table;
    padding: 40px 0;
    border-top: 1px solid #597275;
}


.contact-form {
    display: table;
}

.contact-form-input-container {
    display: table-cell;
    width: 100%;
    padding-right: 15px;
}

.contact-form-button-container {
    display: table-cell;
}

.form-button {
    background: #597275;
}

.contact-form-input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #597275;
    border: none;
    padding: 3px 10px;
    color: white;
}

.contact-block-form-description-image {
    font-size: 40px;
    float: left;
}

.contact-block-form-description-title {
    font-weight: 700;
    font-size: 18px;
}

.contact-block-form-description-text {
    white-space: nowrap;
}

.contact-block-form-description-content {
    margin-left: 55px;
    margin-bottom: 25px;
}

.twitter-link {
    color: white;
}


.image-text-block {
    background: #597275;
    padding: 15px;
    border-radius: 4px;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

.image-block {
    font-size: 66px;
    float: left;
}
.text-block {
    line-height: 22px;
    color: #b5c7c9;
    margin-left: 75px;
}

.social-links-item {
    float: left;
    width: 33%;
}

.social-link-title {
    font-size: 18px;
    font-weight: 700;
}

.social-link {
    display: table;
}

.social-content {
    padding-left: 15px;
    display: table-cell;
    vertical-align: middle;
}

.social-image {
    display: table-cell;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #e4551d;
    font-size: 32px;
    color: white;
    text-align: center;
    line-height: 70px;
}

.social-link-text {
    color: #b5c7c9;
    line-height: 20px;
}

.social-links {
    padding: 30px 0;
}

.footer {
    padding: 40px 0;
    background: #637f83;
    text-align: center;
    color: white;
}